<section data-ng-controller="WikisController" data-ng-init="find()">
    <div class="page-header">
        <h1>Wikis</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="wiki in wikis" data-ng-href="#!/wikis/{{wiki._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="wiki.created | date:'medium'"></span>
				by
				<span data-ng-bind="wiki.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="wiki.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!wikis.$resolved || wikis.length">
    	No Wikis yet, why don't you <a href="/#!/wikis/create">create one</a>?
    </div>
</section>