<section data-ng-controller="DiscussionsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Discussions</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="discussion in discussions" data-ng-href="#!/discussions/{{discussion._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="discussion.created | date:'medium'"></span>
				by
				<span data-ng-bind="discussion.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="discussion.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!discussions.$resolved || discussions.length">
    	No Discussions yet, why don't you <a href="/#!/discussions/create">create one</a>?
    </div>
</section>