<md-dialog class="fullscreen-dialog">
    <md-toolbar class="md-accent">
        <div class="md-toolbar-tools">
            <h3>New Game</h3>

            <span flex></span>
            <md-button ng-click="closeDialog()" class="md-icon-button" aria-label="Close">
                <md-icon class="fa fa-lg" md-font-icon="fa-times"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div>
            <md-input-container>
                <label for="name">Name</label>
                <input type="text" data-ng-model="game.name" id="name" placeholder="Name" required>
            </md-input-container>
            <md-input-container>
                <label for="link">Link</label>
                <input type="text" data-ng-model="game.link" id="link" placeholder="URL" required>
            </md-input-container>
            <div layout="row" layout-align="space-around center">
                <md-select placeholder="Stage" ng-model="game.status" flex>
                    <md-option ng-repeat="status in statuses" value = "{{status}}">{{status}}</md-option>
                </md-select>
                <md-input-container flex>
                    <label for="version">Version</label>
                    <input type="text" data-ng-model="game.version" id="version" placeholder="Version">
                </md-input-container>
            </div>
            <md-input-container>
                <label>Short Description (to show up in the list)</label>
                <input type="text" data-ng-model="game.shortDescription" placeholder="Short Description">
            </md-input-container>
            <div class="textarea">
                <label>Description</label>
                <textarea ng-model="game.description"></textarea>
            </div>
        
        </div>
        <div layout="column">       
            <h3>Embed Media</h3>
            <md-input-container md-no-float>
                <md-icon md-font-icon="fa-youtube" class="fa fa-lg icon youtube"></md-icon>
                <input type="text" ng-model="game.youtube" placeholder="Youtube Video ID (e.g. ptk93AyICH0 in https://youtu.be/ptk93AyICH0)">
            </md-input-container>

            <h3>Social Media</h3>
            <md-input-container md-no-float>
                <md-icon md-font-icon="fa-twitter" class="fa fa-lg icon twitter"></md-icon>
                <input type="text" ng-model="game.developer_twitter" placeholder="Twitter Handle (e.g. @dSolver)">
            </md-input-container>
            <md-input-container md-no-float>
                <md-icon md-font-icon="fa-twitch" class="fa fa-lg icon twitch"></md-icon>
                <input type="text" ng-model="game.twitch" placeholder="Twitch Handle (e.g. dSolver)">
            </md-input-container>
            <md-input-container md-no-float>
                <md-icon md-font-icon="fa-facebook" class="fa fa-lg icon facebook"></md-icon>
                <input type="text" ng-model="game.facebook" placeholder="Facebook Page (e.g. https://www.facebook.com/dSolver)">
            </md-input-container>
            <md-input-container md-no-float>
                <md-icon md-font-icon="fa-reddit" class="fa fa-lg icon reddit"></md-icon>
                <input type="text" ng-model="game.subreddit" placeholder="Subreddit e.g. incremental_games">
            </md-input-container>
            
            <h3>App Store</h3>
            <md-input-container md-no-float>
                <md-icon md-font-icon="fa-android" class="fa fa-lg icon android"></md-icon>
                <input type="text" ng-model="game.googlePlay" placeholder="Google Play Store (e.g. https://play.google.com/store/apps/details?id=com.google.android.keep)">
            </md-input-container>
            <md-input-container md-no-float>
                <md-icon md-font-icon="fa-apple" class="fa fa-lg icon appStore"></md-icon>
                <input type="text" ng-model="game.appStore" placeholder="iTunes App Store (e.g. https://itunes.apple.com/ca/app/google/id284815942)">
            </md-input-container>
            <md-input-container md-no-float>
                <md-icon md-font-icon="fa-windows" class="fa fa-lg icon windows"></md-icon>
                <input type="text" ng-model="game.windowsStore" placeholder="Windows App Store (e.g. http://apps.microsoft.com/windows/en-gb/app/skype/5e19cc61-8994-4797-bdc7-c21263f6282b)">
            </md-input-container>
        </div>
    </md-dialog-content>
    <div class="md-actions" layout="row" layout-align="bottom right">

        <span data-ng-show="error" class="md-warn">
            <strong data-ng-bind="error"></strong>
        </span>
        <span flex></span>

        <md-button ng-click="closeDialog()" class="md-primary" aria-label="Cancel">Cancel</md-button>
        <md-button ng-click="create()" class="md-primary" aria-label="Submit">Submit</md-button>
    </div>

</md-dialog>